cashwises.backend.api.cwcash.de {
    reverse_proxy api-rust:8000 {
        header_down Strict-Transport-Security max-age=31536000;
    }
}

pgadmin4.cwcash.de {
    reverse_proxy pgadmin:80 {
        header_down Strict-Transport-Security max-age=31536000;
    }
}
# Konfiguration für SMTP-Verbindung
smtp.cwcash.de {
    encode gzip
    respond "SMTP server is not accessible." 500
}

# TLS-Konfiguration mit Skip-Verify
tls {
    insecure_skip_verify
}