cashwises.backend.api.cwcash.de {
    reverse_proxy api-rust:8000 {
        header_down Strict-Transport-Security max-age=31536000
    }
}

smtp.strato.de:465 {
    reverse_proxy smtp.strato.de:465
}

pgadmin4.cwcash.de {
    reverse_proxy pgadmin:80 {
        header_down Strict-Transport-Security max-age=31536000
    }
}